@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  @include center;
  flex-direction: column;
  max-width: 500px;
  height: 100%;

  button {
    margin-left: auto;
    margin-bottom: 15px;
  }

  .table {
    tbody tr:hover td {
      background: #ddd;
    }
  
    tbody tr {
      cursor: pointer;
    }
  }

  .pagination {
    margin-top: 30px;
    font-size: 1.4em;

    & > * {
      margin-right: 15px;
      cursor: pointer;
    }
  }
}

